<a href="https://colab.research.google.com/github/clopezv/Challenger_TelecomX/blob/main/TelecomX_LATAM_CLV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ðŸ“Œ ExtracciÃ³n

In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#7267 rows Ã— 6 columns
df = pd.read_json('/content/TelecomX_Data.json', encoding="utf-8")
#df = pd.DataFrame(data)
#nulos = df['Churn'].isnull().sum()
#print(f' Nulos: {nulos}')
#df.head()
#df = pd.json_normalize(df['customer'])
#df['customerID'] = df['customerID'].astype(str)
#df['Churn'] = df['Churn'].map({'Yes': True, 'No': False})
#df['Churn'].dtype
#df

#ðŸ”§ TransformaciÃ³n

In [79]:
CountChurn = df['Churn'].value_counts(dropna=True)
CountChurn

#Clientes que dejaron la empresa 1869 y los que no 5174 y 224 registros que son nulos o vacios

Churn
No     5174
Yes    1869
        224
Name: count, dtype: int64

In [80]:
#CountMaleFemale = df['gender'].value_counts(dropna=True)
data = pd.json_normalize(df['customer'])
CountMaleFemale = data['gender'].describe()
CountMaleFemale

#Se encuentran registrados 3675 clientes Masculinos y 3592 Femeninos

count     7267
unique       2
top       Male
freq      3675
Name: gender, dtype: object

In [81]:
data = pd.json_normalize(df['phone'])
#CountServiciosPhone = data[['PhoneService', 'MultipleLines']].describe()
CountServiciosPhone = data['PhoneService'].value_counts(dropna=True)
CountServiciosPhone
#6560 clientes tienen PhoneService y 707 no tienen el servicio

PhoneService
Yes    6560
No      707
Name: count, dtype: int64

In [82]:
CountMultipleLinesPhone = data['MultipleLines'].value_counts(dropna=True)
CountMultipleLinesPhone
#3495 clientes no tienen MultipleLines y 3065 si tienen y 707 registran "No phone service"

MultipleLines
No                  3495
Yes                 3065
No phone service     707
Name: count, dtype: int64

In [83]:
resultado = df[(data['PhoneService'] == 'Yes') & (data['MultipleLines'] == 'Yes')].shape[0]
resultado
#Existen 3065 clientes que tienen los 2 servicios

3065

In [84]:
resultado = df[(data['PhoneService'] == 'No') & (data['MultipleLines'] == 'No')].shape[0]
resultado
#Existen 0 clientes que tienen "No" en los 2 servicios

0

In [85]:
resultado = df[(data['PhoneService'] == 'No') & (data['MultipleLines'] == 'No phone service')].shape[0]
resultado
#Se confirma que 707 clientes no tienen ningÃºn servicio

707

In [86]:
internet = pd.json_normalize(df['internet'])
internet.head()

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,DSL,No,Yes,No,Yes,Yes,No
1,DSL,No,No,No,No,No,Yes
2,Fiber optic,No,No,Yes,No,No,No
3,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,Fiber optic,No,No,No,Yes,Yes,No

In [87]:
CountInternetService = internet['InternetService'].value_counts(dropna=True)
CountInternetService
#3198 clientes tienen internet Fiber optic, 2488 tienen servicio DSL y 1581 no tienen servicio internet
#valores_unicos = pd.unique(df['Columna1'])
#pandas.Series.dt.normalize() para trabajar con fechas

InternetService
Fiber optic    3198
DSL            2488
No             1581
Name: count, dtype: int64

In [88]:
IDduplicados = df[df.duplicated(subset='customerID', keep=False)]
IDduplicados
#No existen customerID duplicados

Empty DataFrame
Columns: [customerID, Churn, customer, phone, internet, account]
Index: []

In [89]:
Account = pd.json_normalize(df['account'])
Account.head()

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,One year,Yes,Mailed check,65.6,593.3
1,Month-to-month,No,Mailed check,59.9,542.4
2,Month-to-month,Yes,Electronic check,73.9,280.85
3,Month-to-month,Yes,Electronic check,98.0,1237.85
4,Month-to-month,Yes,Mailed check,83.9,267.4

In [90]:
CountAccount = Account['Contract'].value_counts(dropna=True)
CountAccount
#Contratos de Month-to-month 4005, contratos de Two year 1743 y contratos de One year 1519

Contract
Month-to-month    4005
Two year          1743
One year          1519
Name: count, dtype: int64

In [91]:
PaperlessBilling = Account['PaperlessBilling'].value_counts(dropna=True)
PaperlessBilling
#Total 7.267

PaperlessBilling
Yes    4311
No     2956
Name: count, dtype: int64

In [92]:
PaymentMethod = Account['PaymentMethod'].value_counts(dropna=True)
PaymentMethod
#Total 7.267

PaymentMethod
Electronic check             2445
Mailed check                 1665
Bank transfer (automatic)    1589
Credit card (automatic)      1568
Name: count, dtype: int64

In [93]:
#ChargesMonthly = Account['Charges.Monthly'].value_counts(dropna=True)
#ChargesMonthly
ChargesMonthly = Account['Charges.Monthly'].describe()
ChargesMonthly
#ChargesMonthly = Account['Charges.Monthly'].max()
#ChargesMonthly
#ChargesMonthly = Account['Charges.Monthly'].min()
#ChargesMonthly

count    7267.000000
mean       64.720098
std        30.129572
min        18.250000
25%        35.425000
50%        70.300000
75%        89.875000
max       118.750000
Name: Charges.Monthly, dtype: float64

In [94]:
#ChargesTotal = Account['Charges.Total'].describe()
#ChargesTotal
#ChargesTotal = Account['Charges.Total'].max() #999.9
#ChargesTotal
#ChargesTotal = Account['Charges.Total'].min() #
#ChargesTotal
#ChargesTotal = Account['Charges.Total'].value_counts(dropna=True)
#ChargesTotal
#ChargesTotal = Account['Charges.Total'].isnull().sum()
#ChargesTotal
#ChargesTotal = Account['Charges.Total'].astype(float)
#ChargesTotal = ChargesTotal.str.replace(' ', '')
#ChargesTotal
#filas_con_espacios = df[Account['Charges.Total'].str.contains(r'\s', na=False)]
#filas_con_espacios = Account['Charges.Total'].str.contains(r'\s', na=False)
#filas_con_espacios = df[Account['Charges.Total'].str.contains(r'\s', na=False)]
#resultado = df[filas_con_espacios[['customerID', 'Charges.Total']]]
###filas_con_espacios
####print(Account.columns)
#New cÃ³digo
#change_cero = df[Account['Charges.Total'].str.replace(r'\s+', '0', regex=True)]
#change_cero
#change_cero = df[Account['Charges.Total'].str.contains(r'\s', '0', regex=True)]
#change_cero
#change_cero.to_csv('check_cambio.csv', index=False)

#internet = pd.json_normalize(df['internet'])
#change_cero
#filas_con_espacios = df[Account['Charges.Total'].str.contains(r'\s', na=False
##Fin
filas_con_espacios = df[Account['Charges.Total'].str.contains(r'\s', na=False)]
resultado = filas_con_espacios['customerID']
resultado

####Estos clientes tienen el campo Charges.Total en blanco

975     1371-DWPAZ
1775    2520-SGTTA
1955    2775-SEFEE
2075    2923-ARZLG
2232    3115-CZMZD
2308    3213-VVOLG
2930    4075-WKNIU
3134    4367-NUYAO
3203    4472-LVYGI
4169    5709-LVOEQ
5599    7644-OMVMY
Name: customerID, dtype: object

In [95]:

ChargesDaily = Account['Charges.Monthly'] / 30
ChargesDaily
df['Cuentas_Diarias'] = ChargesDaily
df.head()
#CreaciÃ³n de columna cuentas diarias

,customerID,Churn,customer,phone,internet,account,Cuentas_Diarias
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '...",2.186667
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli...",1.996667
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",2.463333
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",3.266667
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",2.796667

In [98]:
#convertir valores textuales como "SÃ­" y "No" en valores binarios (1 y 0)
df['Churn'] = df['Churn'].fillna('No')  # si son NaN (valores nulos)
df['Churn'] = df['Churn'].replace(r'^\s*$', 'No', regex=True)  # si son strings vacÃ­os o con espacios
df['Churn'] = df['Churn'].replace({'Yes': 1, 'No': 0})
df['Churn'] = df['Churn'].astype(int)
CountChurn = df['Churn'].value_counts(dropna=True)
CountChurn

#df[Account['Charges.Total'].str.contains(r'\s', '0', regex=True)]
#df['Churn'] = df['Churn'].map({'No': '\s'})
#CountChurn = df['Churn'].value_counts(dropna=True)
#CountChurn

#df['Churn'] = df['Churn'].map({'Yes': 1, 'No': 0})
#df.head()

<ipython-input-98-324579e6c2b9>:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Churn'] = df['Churn'].replace({'Yes': 1, 'No': 0})

Churn
0    5398
1    1869
Name: count, dtype: int64

#ðŸ“Š Carga y anÃ¡lisis

#ðŸ“„Informe final